.hero-upper-section {
  position: relative;
  margin-bottom: 4rem;
}

.sign-up-close-btn {
  position: fixed;
  top: 1.6rem;
  right: 2rem;
  color: white;
  z-index: 100000;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  font-size: 2rem;
  border: none;
  outline: none;
}

.hero-upper-section-left {
  width: 50%;
}

.hero-upper-gif {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  transform: translateY(-50%);
}

.lower-section-wrapper {
  display: flex;
  align-items: flex-end;
}

.lower-section-presale {
  flex: 1;
}
.lower-section-social-links {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.lower-section-social-links a {
  font-size: 2rem;
}

.lower-section-social-links > *:not(:last-child) {
  margin-right: 1rem;
}

/*  */
/*  */
/*  */
/*  */
/*  */

.hero-home {
  min-height: 100vh;
  padding-top: 2rem;
}
.hero-img {
  width: auto;
}

.hero-gif-and-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-links-and-verified-wrapper {
  width: 100%;
}

.contract-verification-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.disclaimer {
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.audit-images {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.audit-images img {
  height: 1.8rem;
}
.audit-images > *:not(:last-child) {
  margin-right: 1.4rem;
}

.audit-kyc {
  width: fit-content;
  border: 1px solid #9d9a9a;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
}

.verification-banner-title {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  display: block;
  flex: unset;
  width: unset;
}

.hero-ss {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
}
.hero-ss > *:not(:last-child) {
  margin-right: 1rem;
}
.hero-ss a {
  font-size: 1.6rem;
}

.hero-home h1 {
  font-weight: 600;
  font-size: 41px;
  line-height: 60px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-sp-p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 5px;
}
.social-hero {
  gap: 1rem;
  padding-bottom: 2%;
}
.social-hero a {
  font-size: 26px;
}
.social-hero a:hover {
  color: #00e86d;
}
.green {
  color: #00e86d;
  font-weight: 700;
}
.hero-btn {
  padding-top: 3%;
}

.hero-btn-1 {
  background: #00e86d;
  border: 0.5px solid #ffffff;
  box-shadow: 0px 7px 16px rgb(0 0 0 / 40%);
  border-radius: 4px;

  padding: 1% 7%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-right: 2%;
}
.hero-btn-1:hover {
  background: #ffffff;
  border: 0.5px solid #000000;
}
.hero-btn-2 {
  border: 1px solid #ffffff;
  background-color: transparent;

  border-radius: 4px;

  color: #ffffff;
  padding: 1% 7%;
  font-size: 18px;
  font-weight: 600;
}
.hero-btn-2:hover {
  background-color: #00e86d;
  border: 0.5px solid #ffffff00;
  color: rgb(0, 0, 0);
}

.second-img {
  margin-top: -8%;
}
.loti-1 {
  /* height: 500px;
  width: 700px; */
}

@media (max-width: 768px) {
  .second-img {
    margin-top: 0%;
  }

  .hero-home h1 {
    font-size: 26px;
    line-height: 36px;
  }
  .hero-img {
    height: 230px;
    margin-top: 37px;
  }

  .hero-sp-p {
    font-size: 14px;
    font-weight: 600;
  }
  .social-hero a {
    font-size: 14px;
  }
  .hero-home {
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .hero-btn-1 {
    padding: 1% 8%;
    font-size: 14px;
  }

  .hero-btn-2 {
    padding: 1% 8%;
    font-size: 14px;
  }
  .hero-ss {
    position: static;
    text-align: center;
  }
  .hero-ss a {
    font-size: 1.4rem;
  }

  .second-img {
    position: static;
    transform: translateY(0%);
    width: 100%;
  }

  .verification-banner-title {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    display: block;
    flex: unset;
    width: unset;
  }

  /*  */

  .contract-verification-banner {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .audit-kyc {
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
  }
  .audit-images img {
    height: 1.7rem;
  }

  .disclaimer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sign-up-close-btn {
    top: 0.4rem;
    right: 2rem;
    font-size: 2rem;
  }
}
