.why-us{
  padding-bottom: 3%;
}
.table{
  color: #fff;
  margin-bottom: 0;
}
th,td{
  border-bottom: 0px;
}
th{
  width: 250px;
}
td{
  width: 100px !important;
}
.why-us-head h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.why-us-head img{
  width: auto;
  height: auto;
  margin-bottom: 2%;
}
.cross{
  color: #FF3535;
}

.border-down p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  /* identical to box height, or 26px */

  text-transform: capitalize;

  color: #ffffff;
}

.why-us-box {
  background: #242A38;

  border: 1px solid #535675;
  border-radius: 9px;


  color: #fff;
}

.b-right{
  border-right: 2px solid #00E86D
}
.content-2 img {
  height: auto;
  width: auto;
  margin-bottom: 1.3rem;

 
}

.ht-101{
  height: 101px;
}
.content-2{
  text-align: center;
}
.bg-blue{
  background: #111827;
}

.t-head{
  font-weight: 400;
font-size: 14px;
line-height: 26px;
margin-bottom: 5px;
margin-top: 5px;
}

.t-head-2{
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}



.mob-why-swiper{
  display: none;
}

@media (max-width:768px) {
  .content-2 {
    padding-top: 29%;
    padding-bottom: 1%;
  }
  .content-3 {
    padding-top: 26%;
    padding-bottom: 1%;
  }
  .desktop-box-why{
    display: none;
  }
  .mob-why-swiper{
    display: block;
  }
  .why-us-box {
    background: #242A38;
  
    border: 1px solid #535675;
    border-radius: 9px;
  display: flex;
  padding: 2%;
    color: #fff;
  }
  .content-2 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .content-3 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .content{
    width: 183%;
    padding-top: 95.9%;
  }
  .content-2 img {
    height: auto;
    width: auto;
    margin-bottom: 1.3rem;
  
   
  }
  .content-3 img{
    height: auto;
    width: auto;
    margin-bottom: 1.3rem;
  }


  .content-4 {
    padding-top: 24%;
    padding-bottom: 1%;
  }

.content-4 img{
  height: auto;
  width: auto;
  margin-bottom: 1.3rem;
}
.content-4 p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.content-5{
  
    padding-top: 29.7%;
    padding-bottom: 1%;
  
}
.content-5 img {
  height: auto;
  width: auto;
  margin-bottom: 1.3rem;
}
.content-5 p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.why-us-head h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
}