.token-head {
  text-align: center;
}
.token-head h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #00e86d;
}
.token-head img {
  width: auto;
  height: auto;
}
.token-img {
  padding: 3%;
  width: auto;
  height: 425px;
  margin-left: -8%;
}
.token {
  background: #242a38;
  padding-top: 2%;
  padding-bottom: 4%;
}
.to-1 {
  text-align: right;
}
.to-2 {
  text-align: start;
}
.to-2 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
}
.to-1 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
}

.to-1 img {
  height: auto;
  width: auto;
}
.to-2 img {
  height: auto;
  width: auto;
}
.to-3{
  display: none;
}
.to-3 img{
  height: auto;
  width: auto;
}
@media (max-width: 768px) {
  .to-2{
    display: none;
  }
  .to-3{
    display: block;
    margin-top: 2%;
  }
  .to-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    text-align: initial
  }

  .to-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    text-align: initial;
  }
  .to-1 p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #fff;
  }

  .to-2 p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #fff;
  }
  .to-3 p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #fff;
  }
  .token-head h1 {
    font-size: 39px;
  }
  .token-img {
    width: 337px;
    margin-left: -22px;
    height: 100%;
    padding: 0px;
  }
}
